<p> Welcome, <%= current_user.username %><br>
<h2> Blogs </h2>

<% @blogs.each do |blog| %>
    <div>
        <%= blog.content %>
    </div>
<% end %>

<a href="/logout"> Log Out </a><br>
<a href="/"> Home </a>

