<p> Welcome, <%= current_user.username %><br>
<h2> Blogs </h2>

<% @blogs.each do |blog| %>
    <div>
        <%= blog.title %>
        <a href="/blogs/<%=blog.id%>/edit">Edit </a>
        <form method="post" action="/blogs/<%=blog.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Blog Entry">
        </form>
    </div>
<% end %>

<a href="/blogs/new"> New Blog Entry</a><br>
<a href="/logout"> Log Out </a><br>
<a href="/"> Home </a>

